<!DOCTYPE html>

<html>
<head>
	<title id="Weyaka_title">Weyaka - Alt Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Import CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/flat-ui.css" rel="stylesheet">
	
	<link href="css/global.css" rel="stylesheet">
	<link href="css/home-page.css" rel="stylesheet">
	<link href="css/flaticon.css" rel="stylesheet">
   
</head>
<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">

			<!-- Menu button -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				<span class="sr-only">Toggle navigation</span>
			</button>

			<!-- Weyaka home button -->
			<a class="navbar-brand" href="/home">WEYAKA!</a>
		</div>

		<!-- Navbar contents -->
		<div class="collapse navbar-collapse" id="menu">

			<!-- User settings -->
			<ul class="nav navbar-nav navbar-right user-settings">
				<li><a href="/about">About</a></li>
				<li><a href="/" id="logout-button">Logout</a></li>
			</ul>

		</div>
	</nav>
	
	<div class="container">
		
		<!-- TOP ROW -->
		<div class="row">
			<!-- TRAFFIC -->
			<div class="icon">
				<a href="digest#traffic" >
					<img src="images/boxes/traffic.png" class = "img-responsive"/>
					<!-- could be mapRed or mapYellow -->
				</a>
			</div>

			<!-- WEATHER -->
			<div class="icon weather-icon">
				<a href="digest#weather" >
					<img src="images/boxes/weather.png" class="img-responsive"/>

				</a>
			</div>
		</div>

		<!-- BOTTOM ROW -->
		<div class="row">
			<!-- NOTES -->
			<div class="icon">
				<a href="digest#notes" >
					<img src="images/boxes/notes.png" class="img-responsive">

				</a>
			</div>

			<!-- SCHEDULE -->
			<div class="icon">
				<a href="digest#schedule" >
					<img src="images/boxes/schedule.png" class="img-responsive">
				</a>
			</div>
		</div>

	</div>

  	<!-- Link Javascript -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/weyaka.js"></script>

	<!-- Weather Temperature JS -->
	<script src="js/temp-home.js"></script>
	
</body>
</html>