<!DOCTYPE html>

<html>
<head>
	<title>Weyaka - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Import CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/flat-ui.css" rel="stylesheet">
	
	<link href="css/global.css" rel="stylesheet">
	<link href="css/login-page.css" rel="stylesheet">
	<link href="css/flaticon.css" rel="stylesheet">
   
</head>

<body id="login-body">
	<div class="container">
		<!-- JUMBOTRON HEADER -->
		<div class="jumbotron">
			<h1>Weyaka</h1>
		</div>

		<div class="login-form">
			<!-- LOGIN FORM -->
			<form role="form" method="get" action="#">
				<!-- USERNAME -->
			    <div class="form-group">
			    	<input type="text" class="form-control login-field" id="user" name="username" placeholder="Username">
			    	<label class="login-field-icon fui-user" for"user"></label>
			    </div>

			    <!-- PASSWORD -->
			    <div class="form-group">
			    	<input type="password" class="form-control login-field" id="pass" name="password" placeholder="Password">
			    	<label class="login-field-icon fui-lock" for="pass"></label>
			    </div>

			    <!-- LOGIN BUTTON -->
			    <button type="submit" class="btn btn-primary btn-hg btn-block" id="login-btn" name="login-btn">See my day!</button>

			    <!-- FORGOT PASSWORD -->
			    <a class="login-link" href="#">Lost your password?</a>
			</form>

			<br>

			<div class="btn-group btn-group-justified" role="group">
				<!-- SIGN UP -->
				<a class="btn-group" role="group" href="#">
  					<button type="button" class="btn btn-inverse">Sign Up</button>
  				</a>

  				<!-- USE AS GUEST -->
  				<a class="btn-group" role="group" href="/home">
  					<button type="button" class="btn btn-inverse">Use as Guest</button>
  				</a>
			</div>
		</div>
	</div>
	
  	<!-- Link Javascript -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/login-page.js"></script>
</body>
</html>
